.featured_title {
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: calc(1em + 8vw);
  line-height: 100%;

  color: var(--amarillo);
}

.featured_image {
  display: flex;
  justify-content: center;  
  padding: 20px;
}

.featured_image img {
  width: 100%;
  max-height: 100%;
  height: calc(1em + 50vh);

  object-fit: cover;

  border-radius: 10px;
  box-shadow: 0px 10px 20px -9px var(--turquesa);
}

.featured_btn {
  padding: 0.8rem;
  max-width: 100%;
  height: 34px;

  text-align: left;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 10px 20px -9px var(--turquesa);
  border-radius: 8px;

  background-color: var(--turquesa);
}

.btn_text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;

  line-height: 50%;
  color: var(--blanco);
}

.featured_btn:hover {
  background-color: var(--turquesa-opaco);
}

.featured_content {
  padding: 2rem;
}

.featured_titles {
  color: var(--turquesa);
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.featured_text {
  font-size: 1.8vh;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-weight: 400;
  line-height: 140%;
  color: var(--gris-base);
}

.list {
  margin-left: 1rem;
}

/*======= Tablets =======*/
@media (min-width: 40rem) {
  .featured_title {
    font-size: calc(1em + 4vw);
  }

  .featured_text {
    font-size: 1.8vh;
  }

  .featured_image img {
    height: calc(10em + 50vh);
  }
}

/*======= Desktop =======*/
@media (min-width: 56rem) {
  .featured_image {
    padding: 1rem;
  }

  .featured_title {
    padding-left: 2rem;
    text-align: left;
    font-size: 56px;
  }

  .featured_image .group_image {
    width: 241px;
    height: 362px;
  }

  .featured_image .image {
    border-radius: 12px;
    width: 589px;
    height: 392px;
  }

  .featured {
    display: grid;
    grid-template:
      "image content";
  }

  .featured_content {
    display: flex;
    padding: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .featured_titles {
    color: var(--turquesa);
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .featured_text {
    font-size: 2vh;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    font-weight: 400;
    line-height: 140%;
    color: var(--gris-base);
  }

  .m-2 {
    margin-left: 20px;
  }

  /*======= flex cards ======= */
  .featured_flex {
    display: flex;
  }

  .featured_section {
    display: grid;
    grid-template:
      "imagen content";
  }
}